<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marrowlabs.rfid.rfidandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name="com.marrowlabs.RfidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.marrowlabs.rfid.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.marrowlabs.rfid.commons.UsbService"
            android:enabled="true"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6ad7c6ea9b0c2450b8124dd66320af83094e28d6" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6ad7c6ea9b0c2450b8124dd66320af83094e28d6" />
    </application>

</manifest>